<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>开始学习吧!</title>
    <link rel="stylesheet" href="../resources/css/photon.min.css">
    <script src="../lib/vue.min.js"></script>
    <script src="index.js"></script>
  </head>
  <body>
    <div id="app" class="window">
      <div class="window-content">
        <div v-if="learning.length">
          <h1>学习中的课程</h1>
          <ul>
            <li v-for="course in learning">
              <h2>{{course.title}}</h2>
              <p>{{course.package}}</p>
              <button v-on:click="continueCourse(course.package)">继续</button>
            </li>     
          </ul>
        </div>
        <div v-if="available.length">
          <h1>可学习的课程</h1>
          <ul>
            <li v-for="course in available">
              <h2>{{course.title}}</h2>
              <p>{{course.package}}</p>
              <button v-on:click="installCourse(course.package)">安装</button>
            </li>     
          </ul>
        </div>
        <div v-if="finished.length">
          <h1>已完成的课程</h1>
          <ul>
            <li v-for="course in finished">
              <h2>{{course.title}}</h2>
              <p>{{course.package}}</p>
              <button v-on:click="restartCourse(course.package)">重新开始</button>
            </li>     
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>