<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>开始学习吧!</title>
    <link rel="stylesheet" href="../resources/css/photon.min.css">
    <script src="../lib/vue.min.js"></script>
  </head>
  <body>
    <div id="app" class="window">
      <div class="window-content">
        <div v-if="learning.length">
          <h4>学习中的课程| learning</h4>
          <ul>
            <li v-for="course in learning">
              <h5>{{course.title}}</h5>
              <p>{{course.package}}</p>
              <button v-on:click="continueCourse(course)">继续</button>
            </li>     
          </ul>
        </div>
        <div v-if="available.length">
          <h4>可学习的课程</h4>
          <ul>
            <li v-for="course in available">
              <h5>{{course.title}}</h5>
              <p>{{course.package}}</p>
              <button v-if="!course.installing" v-on:click="installCourse(course)">安装</button>
              <label v-if="course.installing">安装中...</label>
            </li>     
          </ul>
        </div>
        <div v-if="finished.length">
          <h4>已完成的课程</h4>
          <ul>
            <li v-for="course in finished">
              <h5>{{course.title}}</h5>
              <p>{{course.package}}</p>
              <button v-on:click="restartCourse(course)">重新开始</button>
            </li>     
          </ul>
        </div>
      </div>
    </div>
    <script src="index.js"></script>
  </body>
</html>